/*
         _                        _         __            
   ____ | |                      | |       / _|           
  / __ \| | ___ _ __  _ __  _   _| |_ __ _| |_ _ __ ___   
 / / _` | |/ _ \ '_ \| '_ \| | | | __/ _` |  _| '__/ _ \  
| | (_| | |  __/ | | | | | | |_| | || (_| | | | | | (_) | 
 \ \__,_|_|\___|_| |_|_| |_|\__, |\__\__,_|_| |_|  \___/  
  \____/                     __/ |                        
                            |___/                        
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../../../sass/_reset.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../../../sass/_reset.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../../../sass/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../../../sass/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../../../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../../../sass/_reset.scss */
img {
  vertical-align: middle;
}

/* line 41, ../../../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../../../sass/_reset.scss */
textarea {
  resize: vertical;
}

/* line 51, ../../../sass/_reset.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   screen styles
   ========================================================================== */
/* ==========================================================================
   Global Styler
   ========================================================================== */
/* ==========================================================================
   Header Styler
   ========================================================================== */
/* line 10, ../../../sass/_header.scss */
.header-interior {
  margin-top: 0px;
  max-height: 20px;
  background: #838383;
  color: #60fd01;
}
/* line 15, ../../../sass/_header.scss */
.header-interior h3 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 0px;
}

/* ==========================================================================
   Footer Styler
   ========================================================================== */
/* ==========================================================================
   Home Page Styler
   ========================================================================== */
/* ==========================================================================
   Interior Page Styler - 3/22/2014 Event
   ========================================================================== */
/* line 5, ../../../sass/_page-20140322.scss */
body {
  background-color: #000;
  color: #fff;
}

/* line 13, ../../../sass/_page-20140322.scss */
.container {
  width: 920px;
  margin: 0px auto;
}
/* line 16, ../../../sass/_page-20140322.scss */
.container .headline-holder {
  width: 66%;
  margin: 0px auto;
}
/* line 19, ../../../sass/_page-20140322.scss */
.container .headline-holder h1 {
  display: inline-block;
  margin-top: 2px;
  margin-right: 10px;
}
/* line 23, ../../../sass/_page-20140322.scss */
.container .headline-holder h1 .downplay {
  font-size: 80%;
  color: #c8c8c8;
}
/* line 27, ../../../sass/_page-20140322.scss */
.container .headline-holder h1 .upsell {
  font-weight: normal;
  color: #CDFF38;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../../../sass/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../../../sass/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../../../sass/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../../../sass/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../../../sass/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../../../sass/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../../../sass/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../../../sass/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../../../sass/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 7, ../../../sass/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 15, ../../../sass/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 19, ../../../sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 23, ../../../sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 33, ../../../sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 38, ../../../sass/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 43, ../../../sass/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 48, ../../../sass/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 52, ../../../sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 62, ../../../sass/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../../../sass/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
